<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Footer</title>
   <!-- CAMBIAR FUENTES -->
  <link href="https://fonts.googleapis.com/css2?family=Overlock:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/ASSETS/CSS/footer.css">

</head>

<body>
  <footer>
    <div class="containerF">
      <div class="footer-column">
        <div class="logo">
          <img src="/ASSETS/IMG/imgLogo/logo.png" alt="logo" />
          <a href=""></a>
        </div>
        <div id="pf">
          <p> Nuestra plataforma de e-commerce destaca en el mercado de cuidado personal por ofrecer una experiencia
            única, enfocada en las necesidades individuales de lxs usuarixs y su presupuesto.</p>
        </div>
        <div class="social-media-container">
          <box-icon color="#fff" type="logo" class="social-media" name="instagram"></box-icon>
          <box-icon color="#fff" class="social-media" name="youtube" type="logo"></box-icon>
          <box-icon color="#fff" class="social-media" name="facebook-circle" type="logo"></box-icon>
          <box-icon color="#fff" type="logo" class="social-media" name="tiktok"></box-icon>
        </div>
      </div>
      <div class="footer-column">
        <div class="info">
          <h3>Información</h3>
          <ul>
            <li>
              <a href="#">Promociones</a>
            </li>
            <br>
            <li>
              <a href="#">Iniciar sesión</a>
            </li>
            <br>
            <li>
              <a href="#">Registrarme</a>
            </li>
            <br>
            <li>
              <a href="#">Informacion importante</a>
            </li>
            <br>
            <li>
              <a href="#">Aviso de privacidad</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-column">
        <div class="nosotros">
          <h3>Acerca de Nosotros</h3>
          <ul>
            <li>
              <a href="#">Colaboradores</a>
            </li>
            <br>
            <li>
              <a href="#">Misión</a>
            </li>
            <br>
            <li>
              <a href="#">Visión</a>
            </li>
            <br>
            <li>
              <a href="#">Valores</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-column">
        <div class="categorias">
          <h3>Categorias</h3>
          <ul>
            <li>
              <a href="#">Cuidado corporal</a>
            </li>
            <br>
            <li>
              <a href="#">Cuidado capilar</a>
            </li>
            <br>
            <li>
              <a href="#">Cuidado facial</a>
            </li>
            <br>
            <li>
              <a href="#">Belleza</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>

</html>