<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar diseño</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/ASSETS/CSS/header.css">
</head>

<body class="vh-100 overflow-hidden">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-trasparent">
        <div class="container">
            <!--logo-->
            <a class="navbar-brand fs-5" href="pagina.html"><img id="logo" src="/ASSETS/IMG/imgLogo/logo1.png""></a>

            <!-- Toggle button -->
            <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Side Bar -->
            <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">

                <!-- Sidebar Header -->
                <div class="offcanvas-header border-bottom">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img id="logo" src="/ASSETS/IMG/imgLogo/logo1.png""></h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                
                <!-- Sidebar Body -->
                <div class="offcanvas-body d-flex flex-column flex-lg-row flex p-4 p-lg-0">
                    <ul class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3 gap-4" >
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/index.html">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-auto-close="outside" href="#" data-bs-toggle="dropdown">
                                Productos 
                            </a>

                            <ul class="dropdown-menu">
                                <li class="dropend">
                                    <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Cuidado corporal</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="" class="dropdown-item">Sc1</a></li>
                                        <li><a href="" class="dropdown-item">Sc2</a></li>
                                        <li><a href="" class="dropdown-item">Sc3</a></li>
                                    </ul>
                                </li>
                                <li class="dropend">
                                    <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Cuidado capilar</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="" class="dropdown-item">Sc1</a></li>
                                        <li><a href="" class="dropdown-item">Sc2</a></li>
                                        <li><a href="" class="dropdown-item">Sc3</a></li>
                                    </ul>
                                </li>
                                <li class="dropend">
                                    <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Cuidado facial</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="" class="dropdown-item">Sc1</a></li>
                                        <li><a href="" class="dropdown-item">Sc2</a></li>
                                        <li><a href="" class="dropdown-item">Sc3</a></li>
                                    </ul>
                                </li>
                                <li class="dropend">
                                    <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Cuidado belleza</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="" class="dropdown-item">Sc1</a></li>
                                        <li><a href="" class="dropdown-item">Sc2</a></li>
                                        <li><a href="" class="dropdown-item">Sc3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link"  href="/PAGES/contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="#">Conócete</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="/PAGES/nosotros.html">Nosotros</a>
                        </li>
                    </ul>
                    <div class="d-flex flex-column flex-lg-row align-items-center gap-3">
                        <a href="" class="text-white">Ingresa  </a>
                        <a hren="" class="text-white text-decoration-none px-3 py-1 rounded-4" style="background-color: #f1645a">Registrate</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>