@import "COLORES.css";

@font-face {
	font-family: 'Montserrat';
	src: url('/ASSETS/FONTS/Montserrat/Montserrat-Regular.ttf') format('truetype'); 
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Overlock';
	src: url('/ASSETS/FONTS/Overlock/Overlock-Bold.ttf') format('truetype'); 
	font-weight: 700;
	font-style: normal;
  }
  

 /*html main{
    background:rgba(6, 3, 3, 0.6);
 }*/

 body{
    background:  url('/ASSETS/IMG/fondo.webp') rgba(6, 3, 3, 0.6) !important; 
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
 }
 
 





/* Estilos para el carrusel principal */

.carousel-item img {
    border-radius: 10px;
}


/*categorias*/
.hm-page-block {
    /*background: rgba(0, 0, 0, 40%);*/
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
}

.hm-grid-category,
.grid-product {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 2rem*3/4));
    row-gap: 3rem;
    column-gap: 2rem;
    max-width: 1122px;

}

.hm-grid-category .grid-item {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    max-height: 460px;


}

.hm-grid-category .grid-item img,
.grid-product .product-item .p-portada img {
    transition: all .3s ease-in;
}

.hm-grid-category .grid-item img:hover,
.grid-product .product-item .p-portada img:hover {
    transform: scale(1.07);
}

.hm-grid-category .grid-item:hover .c-info {
    transform: translateY(0%);
}

.hm-grid-category .grid-item .c-info {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    color: var(--colorwhite);
    padding: 20px;
    background: rgba(0, 0, 0, 40%);
    transform: translateY(100%);
    transition: all .3s ease-in;
}

.hm-grid-category .grid-item .c-info h3 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.header-title h1 {
    color: var(--color8);
    text-align: center;
    font-size: 3rem;
    font-family: 'Overlock';
}

.hm-grid-category .grid-item img {
    width: 100%;
    height: 100%;
}




/*carrusel  reseñas*/
.containermt-5 img {
    width: 200px;
    height: 200px;
}

.containermt-5 {
    background-color: var(--colorblack);
    padding: 20px;
    border-radius: 10px;
    max-width: 1122px;
    margin: 0 auto;
    text-align: center;


}

.containermt-5 p {
    text-align: center;
    color: var(--color8);
    font-family: 'Overlock';
}



.containermt-5 h1 {
    color: var(--color8)
}

/*Productos*/
.title2 h1 {
    color: var(--color8);
    text-align: center;
    font-size: 50px;
    background-color: var(--colorblack);
    padding: 20px;
    font-family: 'Overlock';
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 5% auto;
    border-radius: 10px;
}

.product-area {
    width: 30%;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
   /* background-color: var(--colorwhite);*/
    border-radius: 25px;
}

.img-area {
    position: relative;
    width: 100%;
}

.img-area img {
    width: 100%;
    height: auto;
    display: block;
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.product-overlay:hover {
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.5s ease;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn-1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color8);
    color: var(--colorwhite);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}



.info-area {
    padding: 10px 20px;
    text-align: center;
    background: var(--colorblack);
}

.info-area h3 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
    color: var(--colorwhite);
    font-family:'Overlock';
    font-size: 25px;
}

.rating {
    margin-bottom: 10px;
}

.rating span {
    color: var(--colorwhite);
}

.checked {
    color: var(--color5) !important;
}

.product-price {
    font-size: 25px;
    color: var(--color8);
    font-weight: bold;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .product-area {
        width: 48%;
    }
}

@media (max-width: 576px) {
    .product-area {
        width: 100%;
    }
}

/*formularios*/
.card-group {
    display: flex;
    flex-wrap: wrap;
    gap: 25px; /* Espacio entre las tarjetas */
    justify-content: center;
    margin-top: 30px;
}

.card {
    background-color: rgb(51,51,51) !important;/* Fondo oscuro consistente con el contenedor */
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    /*width: 100%;*/
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 5% auto;
}
.card-title {
    color: #ffffff; /* Texto blanco */
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-family: 'Overlock', sans-serif;
}

/* Texto dentro de las Cards */
.card-text {
    color: #f1f1f1; /* Color de texto ligeramente gris */
    font-size: 1rem;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

/* Botón dentro de las Cards */
.card .btn-primary {
    background-color: #3DC1B4;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s ease-in-out;
}

.card .btn-primary:hover {
    background-color: #2ba599; /* Color más oscuro al pasar el mouse */
}

/* Responsividad para las Cards */
@media (max-width: 768px) {
    .card-group {
        flex-direction: column; /* Las cards se apilan verticalmente */
        align-items: center;
    }

    .card {
        max-width: 90%; /* Reducir el tamaño en pantallas pequeñas */
    }
}