@font-face {
  font-family: 'Montserrat';
  src: url('/ASSETS/FONTS/Montserrat/Montserrat-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Overlock';
  src: url('/ASSETS/FONTS/Overlock/Overlock-Bold.ttf') format('truetype'); 
  font-weight: 700;
  font-style: normal;
}

main {
  font-family: "Montserrat";
  font-weight: 400;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#acercaNosotros, #mv, #v, #stackMasters {
  font-family: "Overlock";
  font-weight: 800;
  text-align: center;
  color: #ffffff;
}

#acercaNosotros, #stackMasters {
  font-size: 3em;
  color: #3DBFBB;
 
}

#mv, #v {
  font-size: 2em;
}

#parrafoNosotros {
  font-size: 1.25em;
}

p {
  font-weight: 400;
  font-size: 1.1em;
  text-align: center;
}

/*Comienzan estilos para columna general (Encabezado, descripción, misión, visión, valores)*/

.descripcionMVV, .integrantes {
  margin: 2% 0 2% !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80% !important;
  background-color: #111 !important;
  border-radius: 10px;
}

.row ul {
  list-style: none;
} 

.descripcionmvv {
  margin: 0 !important;
}

#acercaNosotros, #stackMasters{
  margin: 3% 0 0;
  padding: 0;
}

#mv {
  margin: 3% 0 3%;
  padding: 0;
}

#v {
  margin: 1% 0 0;
  padding: 0;
}

#parrafoNosotros, #parrafo {
  margin: 2% 0 2%;
  padding: 0 3% 0;
}

.mision, .vision, .valores {
  border-radius: 10px;
  background-color: transparent;
}

.mision, .vision {
  margin: 0 2.5% 2%;
}

.valores {
  margin: 1% 3% 3% !important;
}

.mision {
  border: 5px solid #246784;
  transition: background-color 0.3s ease;
}

.vision {
  border: 5px solid #f36b37;
  transition: background-color 0.3s ease;
}

.valores {
  border: 5px solid #9f2884;
  transition: background-color 0.3s ease;
}

.mision:hover {
  background-color: #246784;
}

.vision:hover {
  background-color: #f36b37;
}

.valores:hover {
  background-color: #9f2884;
}

/*Terminan estilos para parte Acerca de nosotros: Encabezado, descripción, misión, visión, valores*/

/*Aqui va lo de perfiles*/

main #tituloEquipo{
  text-align: center;
  color: #3DBFBB;
  font-family: 'Overlock';
  background-color: #000;
  width: 70%;
  margin-bottom: 10px;
}
.container_integrantes{
  min-width:70%;
  min-height:max-content;
}
.card {
  perspective: 3000px;
  perspective: 3000px;
  background-color: #246784;
  min-height: fit-content;
  min-width:fit-content;
  flex-wrap: wrap;
  padding: 0 !important;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  min-height:580px;
  min-width:30px;
}

.card:hover .card-inner {
  cursor: pointer;
}

.card.is-flipped .card-inner {
  transform: rotateY(180deg);

}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-front {
  background-color: #000;
}

.card-front img {
  width: 100%;
  height: 90%;
}

.card-front h3 {
  margin: 10px 0;
  font-size: 1em;
  position: relative;
  font-family: 'Overlock';
  color: #ffffff;
  color: #ffffff;
}

.card-back {
  display: flex;
  text-align: left;
  background-color: #000;
  color: white;
  transform: rotateY(180deg);
  padding: 10px;
  overflow-y: auto;
  max-height: 100%;
  justify-content: flex-start;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Estiliza la barra de scroll */
.card-back::-webkit-scrollbar {
  width: 8px;
}

.card-back::-webkit-scrollbar-thumb {
  background: #98bf3e;
  border-radius: 4px;
}

.card-back::-webkit-scrollbar-thumb:hover {
  background: #dcdcdc;
}

.card-back::-webkit-scrollbar-track {
  background: #9f2884;
}

.container_integrantes::-webkit-scrollbar{
  display: none;
}