<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/Trabajo personal/CSS/footer.css" />
  <link href="https://fonts.googleapis.com/css2?family=Overlock:wght@400;700&display=swap" rel="stylesheet">
  <title>Footer</title>
</head>

<body>
  <footer>
    <div class="container">
      <div class="descripcion">
        <div class="logo">
          <img src="/Trabajo personal/IMG/SicaruBlanco.webp" alt="logo" />
          <a href=""></a>
        </div>

        <!-- Short About -->
       <!-- <p style="color: #ffffff;">
          Nuestra plataforma de e-commerce destaca en el mercado de cuidado personal por ofrecer una experiencia única,
          enfocada en las necesidades individuales de lxs usuarixs y su presupuesto.

        </p>-->

        <!-- Social Media -->
        <div class="social-media-container">
          <div class="social-media">
            <box-icon color="#fff" type="logo" name="instagram"></box-icon>
          </div>
          <div class="social-media">
            <box-icon color="#fff" name="youtube" type="logo"></box-icon>
          </div>
          <div class="social-media">
            <box-icon color="#fff" name="facebook-circle" type="logo"></box-icon>
          </div>
          <div class="social-media">
            <box-icon color="#fff" type="logo" name="tiktok"></box-icon>
          </div>
        </div>
        <p style="color: #ffffff;">
          Nuestra plataforma de e-commerce destaca en el mercado de cuidado personal por ofrecer una experiencia única,
          enfocada en las necesidades individuales de lxs usuarixs.

        </p>
      </div>

      <div class="link-container">

        <div class="info">
          <ul>
            <h1>Información</h1>

            <li>
              <a href="#">Promociones</a>
            </li>
            <li>
              <a href="#">Iniciar sesión/Registrarme</a>
            </li>
            <li>
              <a href="#">Informacion importante</a>
            </li>
            <li>
              <a href="#">Aviso de privacidad</a>
            </li>
          </ul>
        </div>

        <div class="nosotros">
          
          <ul>
            <h1>Acerca de Nosotros</h1>
            <li>
              <a href="#">Colaboradores</a>
            </li>
            <li>
              <a href="#">Misión</a>
            </li>
            <li>
              <a href="#">Visión</a>
            </li>
            <li>
              <a href="#">Valores</a>
            </li>
          </ul>
        </div>

        <div class="navegacion">
          
          <ul>
            <h1>Categorias</h1>
            <li>
              <a href="#">Maquillaje</a>
            </li>
            <li>
              <a href="#">Cuidado facial</a>
            </li>
            <li>
              <a href="#">Cuidado capilar</a>
            </li>
            <li>
              <a href="#">Cuidado corporal</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- biblioteca Iconos -->
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>

</html>