:root{
    --color1: #F1645A;
    --color2: #246784;
    --color3: #98bf3E;
    --color4: #f36b37;
    --color5: #F6B94F;
    --color6: #3DBFBB;
    --color7: #9f2884;
    --color8: #f0769f;
    --colorblack: #000000;
    --colorblack2: #333333;
    --colorblack3: #11111111;
    --colorwhite: #ffffff;
    

}